# Disallow everything
*

# Allow-only list
!go.mod
!go.sum
!config.yml
!action.yml
!LICENSE
!README.md
!SPECIFICATIONS.md
!CONFIGURATION.md
!REMEDIATION.md
!CI.md
!SECURITY.md
!Makefile
!.gitignore

# Folders
!cmd/
!cmd/**/
!cmd/**/*.go
!internal/
!internal/**/
!internal/**/*.go
!.github/
!.github/**
